.Ouvert {
    border-radius: 5px;
    background-color: #1F4888;
    color: white;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 2px;
}

.contenaireBar {
    display: flex;
    flex-direction: row;
}

.Suspens {
    border-radius: 5px;
    background-color: coral;
    color: white;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 2px;
}

.Resolu {
    border-radius: 5px;
    background-color: forestgreen;
    color: white;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 2px;
}

.Cloture {
    border-radius: 5px;
    background-color: forestgreen;
    color: white;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 2px;
}

.info-ticket {
    background-color: #1F4888;
    color: white;
    height: 40px;
    width: 100%;
    margin: 10px;
    text-align: center;
}

.status_item {
    width: 50%;
    font-size: 0.65em;
    text-align: center;
    margin: 0 !important;
}

.open-link_view_action2 {
    width: 28px;
    height: 28px;
    padding: 8px;
    border-radius: 5px;
    background: #1F4888 !important;
    margin: 5px !important;
    display: flex;

    align-items: center a {
        display: flex;
        align-items: center;
    }
}



.open-link_view_action_brun {
    width: 28px;
    height: 28px;
    padding: 8px;
    border-radius: 5px;
    background: #744927 !important;
    margin: 5px !important;
    display: flex;

    align-items: center a {
        display: flex;
        align-items: center;
    }
}

.open-link_view_action_jaun {
    width: 28px;
    height: 28px;
    padding: 8px;
    border-radius: 5px;
    background: #ECA903 !important;
    margin: 5px !important;
    display: flex;

    align-items: center a {
        display: flex;
        align-items: center;
    }
}

.open-link_view_action2_inactive {
    width: 28px;
    height: 28px;
    padding: 8px;
    border-radius: 5px;
    background: linear-gradient(180deg, #dde2e7 0%, #c5c8cf 100%) !important;
    margin: 5px !important;
    display: flex;

    align-items: center a {
        display: flex;
        align-items: center;
    }
}

.open-link_view_cancel {
    width: 28px;
    height: 28px;
    padding: 8px;
    border-radius: 5px;
    background: #1F4888 !important;
    margin: 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    align-items: center a {
        display: flex;
        align-items: center;
    }
}

.open-link_view_inactive_cancel {
    width: 27px;
    height: 27px;
    padding: 8px;
    border-radius: 5px;
    background: linear-gradient(180deg, #dde2e7 0%, #c5c8cf 100%) !important;
    background-color: red;
    margin: 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    align-items: center a {
        display: flex;
        align-items: center;
    }
}

.open-link_view_action_not_error {
    width: 28px;
    height: 28px;
    padding: 8px;
    border-radius: 5px;
    background: linear-gradient(180deg, #dde2e7 0%, #c5c8cf 100%) !important;
    margin: 5px !important;
    display: flex;

    align-items: center a {
        display: flex;
        align-items: center;
    }
}

.open-link_view_action {
    width: 28px;
    height: 28px;
    // border-radius: 5px;
    border: 1px solid #1F4888;
}

.open-link_view_action3 {
    width: 28px;
    height: 28px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #1F4888;
    background-color: rgb(233, 77, 101);
}

.bolder-header-description {
    font-weight: bold;
}

::ng-deep .ant-descriptions-item-label {
    font-weight: bold;
}

::ng-deep .ant-form-item-label {
    text-align: left;
    display: block;
}

// ::ng-deep .ant-select {
//     display: block;
// }

::ng-deep .ant-form-item {
    display: block;
    margin-bottom: 0px;
}

::ng-deep .ant-form-item>.textarea.ant-input {
    margin-top: 5px;
}

#description {
    margin-top: 10px;
}

#observation {
    margin-top: 10px;
}

.ant-table-row {
    height: 30px;
}

.ant-table-tbody>tr>td {
    padding: 3px;
    font-size: 12px;
}

.contenaireBar {
    display: flex;
    flex-direction: row;
}

.contenaireBarEnd {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.childBar {
    align-self: flex-end;
}

.Mineur {
    color: forestgreen;
    font-weight: bold;
}

.Moderee {
    color: #e3c74a;
    font-weight: bold;
}

.Majeur {
    color: #e7900d;
    font-weight: bold;
}

.Critique {
    color: #e22b2b;
    font-weight: bold;
}

/* checkbox */

.button-10 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center;
    padding: 6px 14px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif !important;
    border-radius: 6px !important;
    border: none;
    color: #fff;
    background: #1F4888 !important;
    background-origin: border-box !important;
    box-shadow: 0px 0.5px 1.5px rgba(31, 72, 136, 0.25),
        inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2) !important;
    user-select: none !important;
    -webkit-user-select: none;
    touch-action: manipulation !important;
    width: 50px !important;
    margin: 0 10px !important;
}

.icon_print {
    /* width: 20px; */
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 3px !important;
    color: #fff;
    fill: #fff !important;
    width: 200px !important;
}

.icon {
    color: #fff;
    font-size: 10px !important;
}

.icon_jaun {
    color: #144a24;
    font-size: 10px !important;
}

.icon_brun {
    color: #744927;
    font-size: 10px !important;
}

.icon_cancel {
    color: #fff;
    font-size: 14px !important;
}

.action-containers {
    display: flex;
    align-items: center;
    justify-content: center;
}

td:nth-child(5) {
    text-align: left !important;
}

/* Animation douce pour tous les transitions */
.ant-input,
.ant-input-affix-wrapper {
    transition: all 0.3s ease;
}

/* Styles pour les inputs */
.custom-input {
    background-color: #fafafa !important;
    border-radius: 6px !important;
    border: 1px solid #d9d9d9 !important;
    transition: all 0.3s ease !important;
}

// .custom-input:hover {
//     background-color: #f5f5f5 !important;
//     border-color: #40a9ff !important;
// }

// .custom-input:focus {
//     background-color: #ffffff !important;
//     border-color: #40a9ff !important;
//     box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
//     outline: none !important;
// }

/* Styles pour le select */
// .custom-select .ant-select-selector {
//     background-color: #fafafa !important;
//     border-radius: 6px !important;
//     border: 1px solid #d9d9d9 !important;
//     transition: all 0.3s ease !important;
// }

// .custom-select .ant-select-selector:hover {
//     background-color: #f5f5f5 !important;
//     border-color: #40a9ff !important;
// }

// .custom-select.ant-select-focused .ant-select-selector {
//     background-color: #ffffff !important;
//     border-color: #40a9ff !important;
//     box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
//     outline: none !important;
// }

/* Styles pour les options du select */
// .ant-select-item-option {
//     border-radius: 4px !important;
//     margin: 2px 4px !important;
// }

// .ant-select-item-option:hover {
//     background-color: #f5f5f5 !important;
// }

// .ant-select-item-option-selected {
//     background-color: #e6f7ff !important;
// }

.error-message {
    color: #d32f2f;
    background-color: #ffebee;
    border: 1px solid #f44336;
    border-radius: 4px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.success-message {
    color: #2e7d32;
    background-color: #e8f5e9;
    border: 1px solid #4caf50;
    border-radius: 4px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.success-message_brun {
    color: #744927;
    background-color: #7448273c;
    border: 1px solid #744927;
    border-radius: 4px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message i {
    margin-right: 8px;
}

td {
    // display: flex !important;
    // justify-content: start !important;
    text-align: start !important;
    padding-left: 20px !important;
}

.status_item {
    width: 80%;
    font-size: 0.65em;
}

/* Style pour les inputs avec fond */


/* Quand l'input est en focus (clic dessus) */


/* Quand l'input a du texte */
